@import '../../layouts/variables.scss';
@import '../../layouts/media-mixin.scss';

.lang {
  min-width: 80px;
  width: fit-content;

  .dropdown-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    width: fit-content;

    &::after {
      display: none;
    }
  }

  .dropdown-lang-compact {
    font-size: 16px;
    font-weight: 500;
    color: $blue-400;
  }

  .dropdown-lang {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 16px;
    font-weight: 500;

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .language-icon {
    width: 40px;
    max-width: 40px;
    margin-right: 10px;
  }

  .dropdown-icon {
    height: 15px;
    margin-left: 10px;
    transition: transform 0.3s ease;
  }

  &.show .dropdown-icon {
    transform: rotate(180deg);
  }

  &.compact {
    .dropdown-toggle {
      .language-icon {
        max-width: 30px;
      }
    }
  }

  .dropdown-menu {
    padding: 0.5rem 0;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: $white;
    min-width: 120px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    .dropdown-item {
      padding: 0.5rem 1rem;
    }
  }
}

@include device-specific($tablet) {
  .lang {
    .dropdown-lang-compact {
      color: $white;
    }
  }
}

@include device-specific($phone) {
  .lang {
    .dropdown-lang-compact {
      color: $white;
    }
  }
}