@import "../../../layouts/variables";
@import "../../../layouts/media-mixin";


.process-opt-goals {
  margin-top: 60px;
}

.process-opt-ul {
  padding-left: 40px;

  li {
    padding-left: 10px;
    list-style-type: disc;
    font-weight: normal;
  }
}

.process-opt-logos {
  .sponsor-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      min-height: 20px;
    }
  }
}

@include device-specific($phone) {
  .process-opt-logos {
    margin-top: 40px;

    .sponsor-logo {
      margin-bottom: 40px;
    }
  }
}

