@import "../../../layouts/variables";
@import "../../../layouts/media-mixin";


.index-content-component {
  padding-top: 40px;

  .toggler {
    display: flex;
    flex-direction: column;
    align-items: center;

    .carousel-container {
      margin-top: 100px;
      width: 100%;

      .carousel-item {

        .space-top {
          margin-top: 100px;
        }
        .title {
          display: inline-block;
          margin-bottom: 5px;

          .title-slim {
            font-weight: 400;
          }
        }
        h2 {
          color: $blue-400;
          font-size: 32px;
          font-weight: bold;
          font-family: $font-rubik;
          margin-bottom: 0;
        }
        h3 {
          color: $blue-400;
          opacity: 0.8;
          font-family: $font-asap;
          font-weight: normal;
          font-size: 32px;
          margin-bottom: 30px;
        }

        .title-underline {
          height: 5px;
          background: $white-blue-light-gradient;
        }
        .image-subtitle {
          font-family: $font-asap;
          font-size: 16px;
          font-style: italic;
          color: $grey-300;

        }
      }
    }
  }
  .arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100vw 240px 0;
    border-color: transparent white transparent transparent;
  }
  .points {
    background-color: $beige;
  }
  .points-title {
    display: flex;
    width: calc((100% - 60px) * 0.25);
    margin-right: 30px;

    div {
      color: $blue-100;
      font-family: $font-asap;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      margin-right: 8px;
    }
    h2 {
      color: $black !important;
      font-size: 24px !important;
      font-family: $font-rubik !important;
      font-weight: normal !important;
      padding-top: 12px;
    }
  }
  .points-body {
    width: calc((100% - 60px) * 0.45);
    margin-right: 30px;

    p {
      padding-top: 12px;
    }
  }
  .points-items {
    width: calc((100% - 60px) * 0.30);
    padding-top: 12px;
    font-size: 18px;

    * {
      padding-left: 0;
      padding-right: 0;
    }
    .itemized-component {
      margin-bottom: 25px;
    }
  }
}
