@import '../../layouts/variables.scss';
@import '../../layouts/media-mixin.scss';

$pc-width: 60%;
$tablet-width: 80%;
$phone-width: 90%;

.header {
  padding-top: 100px;
  background-color: $blue-300;
}

.beige-content {
  width: 100%;
  background-color: $beige;
}

.end-2 {
  color: $blue-300;
  font-style: italic;
}

.beige-div {
  margin-bottom: -240px;
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 240px 0;
  border-color: transparent $blue-400 transparent transparent;
}

.beige-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 240px 0;
  border-color: transparent $beige transparent transparent;
}

.beige-arrow-reversed {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 240px 0;
  border-color: transparent $beige transparent transparent;
  transform: rotate(180deg);
}

.full-list-component {
  li {
    list-style-type: none;
  }
}

.use-case-table {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid $grey-200;

  .content {
    padding: 1rem;
    text-align: left;
    flex: 1;
  }

  .table-separator {
    width: 1px;
    background-color: $grey-200;
  }

  li {
    font-size: 18px;
    text-align: left;
    list-style-position: outside;

    &::marker {
      color: $blue-300;
    }
  }

  ul {
    flex: 1;
    padding-left: 20px;
    margin: 0;
  }
}

.container-margin {
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
}

.container-padding {
  padding-left: 20rem;
  padding-right: 20rem;
}

.main-content {
  display: flex;
  justify-content: center;

  .index-content-component {
    .content-body {
      width: $pc-width;
    }

    .apply-margin {
      margin: 0 20% 0 20%;
    }
  }
}

@include device-specific($tablet-landscape) {
  .container-margin {
    width: 60% !important;
  }

  .container-padding {
    padding-left: 14rem;
    padding-right: 14rem;
  }

  .main-content {
    .index-content-component {
      .content-body {
        width: $tablet-width;
      }
    }
  }
}

@include device-specific($tablet) {
  .beige-div {
    margin-bottom: -120px;
  }

  .beige-arrow,
  .arrow {
    border-width: 0 100vw 120px 0;
  }

  .beige-arrow-reversed {
    border-width: 0 100vw 120px 0;
  }

  .container-margin {
    width: $tablet-width !important;
  }

  .container-padding {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .main-content {
    .index-content-component {
      .content-body {
        width: $tablet-width;
      }
    }
  }
}

@include device-specific($phone) {
  .beige-div {
    margin-bottom: -120px;
  }

  .beige-arrow,
  .arrow {
    border-width: 0 100vw 120px 0;
  }

  .beige-arrow-reversed {
    border-width: 0 100vw 120px 0;
  }

  .container-margin {
    width: $phone-width !important;
  }

  .container-padding {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .main-content {
    .index-content-component {
      .content-body {
        width: $phone-width;
      }

      .apply-margin {
        margin: 0 3rem 0 3rem;
      }
    }
  }
}

.emphasized-partners {
  margin-top: 20px;
  margin-bottom: 20px;

  &>div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    color: $grey-200;
    font-family: $font-asap;
    font-size: 16px;
    font-weight: 600;
  }

  .references-spinning {
    width: 60%;
    box-sizing: border-box;
  }
}

.service-range {
  color: $white;

  .content {
    background-color: $white;

    h4 {
      color: $blue-400;
      font-weight: 600;
    }

    .boxes-container {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .normal-text-wrapper {
      margin-top: 80px;

      .normal-text {
        color: $black;
        width: 60%;
        margin: 20px auto 0 auto;
      }
    }

    .darker-text {
      color: $blue-200;
      width: 60%;
      margin: 20px auto 0 auto;
      font-size: 1.64rem;
      line-height: 2.3rem;
    }

    .highlighted-darker-text {
      color: $blue-200;
      font-weight: 600;
    }
  }
}

.capabilities {
  .list {
    background-color: $blue-300;
    margin-left: 0;
  }

  .no-pad {
    padding: 0;
    margin: 0;
  }
}

.certifications-wrapper {
  margin-left: 20%;

  .certifications {
    margin-top: 10px;

    p {
      margin-bottom: 20px;
    }
  }

  .cert-divider {
    width: 50%;
  }

  .service-full-list {
    margin-top: 40px;

    h4 {
      color: $blue-400;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
}

/* ******************** PHONE **********************/
@include device-specific($phone) {
  .hidden-xs {
    display: none;
  }

  .header-nav {
    display: none;
  }

  .header {
    padding-top: 50px;

    h1 {
      color: $white;
      margin: 0 auto 0 auto;
      font-weight: 500;
    }

    p {
      color: $white;
      width: 90%;
      margin: 20px auto 0 auto;
    }
  }

  .service-range {
    .content {
      .normal-text-wrapper {
        margin-top: 80px;

        .normal-text {
          color: $black;
          width: 90%;
          margin: 20px auto 0 auto;
        }
      }

      .darker-text {
        color: $blue-200;
        width: 90%;
        margin: 20px auto 0 auto;
        font-size: 1.64rem;
        line-height: 2.3rem;
      }
    }

    .arrow {
      margin-left: -15px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 60px 100vw 0 0;
      border-color: $blue-300 transparent transparent transparent;
    }
  }

  .capabilities {
    margin-top: 20px;

    .sunesis-devs-img {
      width: 0;
      height: 0;
    }

    .left-whitespace {
      width: 0;
    }

    .center-image {
      width: 0;
    }

    .right-content {
      width: 100%;
    }

    // arrows
    .white-arrow {
      position: absolute;
      margin-right: -15px;
      z-index: 1;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 60px 100vw 0 0;
      border-color: $white transparent transparent transparent;
    }

    .white-arrow-reversed {
      position: relative;
      top: -60px;
      z-index: 1;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 100vw 60px 0;
      border-color: transparent transparent $white transparent;
    }

    // text
    .list-text {
      margin: 100px 20px 150px 20px;
      z-index: 2;

      h3 {
        color: $white;
      }

      p {
        width: 90%;
        margin: 20px auto 0 0;
        color: $white;
      }

      h4 {
        color: $blue-100;
        margin-top: 50px;
      }
    }
  }

  .certifications-wrapper {
    margin-left: 0;

    .certifications {
      .cert-content {
        display: flex;
        flex-wrap: wrap;
      }

      .left-cert {
        width: 100%;
        text-align: center;

        h5 {
          color: $blue-400;
          font-weight: 700;
          margin-bottom: 20px;
          font-size: 26px;
        }
      }

      .right-cert {
        width: 100%;

        img {
          margin-left: 0;
          width: 60%;
        }
      }
    }
  }

  .service-full-list {
    .full-list-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .left-full-list {
      width: 100%;
      text-align: center;
    }

    .right-full-list {
      width: 90%;
      text-align: left;
    }
  }
}

/* ******************** TABLET **********************/
@include device-specific($tablet) {
  .header-nav {
    height: 60px;
    background-color: $blue-400;
    display: flex;
    justify-content: center;

    .header-nav-container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;

      div {
        color: $white;
        font-family: $font-asap;
      }
    }
  }

  .header {
    h1 {
      color: $white;
      width: 60%;
      margin: 0 auto 0 auto;
      font-weight: 500;
    }

    p {
      color: $white;
      width: 60%;
      margin: 20px auto 0 auto;
    }
  }

  .service-range {
    .arrow {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 120px 100vw 0 0;
      border-color: $blue-300 transparent transparent transparent;
    }
  }

  .capabilities {
    margin-top: 20px;

    .sunesis-devs-img {}

    // content grid
    .left-whitespace {
      width: 8.32%;
    }

    .center-image {
      width: 50%;
    }

    .right-content {
      width: 50%;
    }

    // arrows
    .white-arrow {
      position: absolute;
      z-index: 1;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 120px 100vw 0 0;
      border-color: $white transparent transparent transparent;
    }

    .white-arrow-reversed {
      position: relative;
      top: -120px;
      z-index: 1;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 100vw 120px 0;
      border-color: transparent transparent $white transparent;
    }

    // text
    .list-text {
      margin: 100px 5px 150px 50px;
      z-index: 2;

      h3 {
        color: $white;
      }

      p {
        width: 80%;
        margin: 20px auto 0 0;
        color: $white;
        font-size: 16px;
      }

      h4 {
        color: $blue-100;
        margin-top: 50px;
      }
    }
  }

  .certifications-wrapper {
    margin-left: 10%;

    .certifications {
      .content {
        padding: 0 !important;

        .cert-content {
          display: flex;
          flex-wrap: wrap;
        }

        .left-cert {
          width: 30%;
          text-align: left;

          h5 {
            color: $blue-400;
            font-weight: 700;
            margin-bottom: 20px;
          }
        }

        .right-cert {
          width: 50%;

          img {
            margin-left: 50px;
            margin-top: 40px;
            width: 70%;
          }
        }
      }

    }
  }

  .service-full-list {
    .full-list-container {
      display: flex;
      flex-wrap: wrap;
    }

    .left-full-list {
      width: 25%;
    }

    .right-full-list {
      width: 60%;
      margin-left: 50px;
    }
  }
}

/* ******************** PC **********************/
@include device-specific($pc) {
  .header-nav {
    height: 60px;
    background-color: $blue-400;
    display: flex;
    justify-content: center;

    .header-nav-container {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      div {
        color: $white;
        font-family: $font-asap;
      }
    }
  }

  .header {
    h1 {
      color: $white;
      width: 60%;
      margin: 0 auto 0 auto;
      font-weight: 500;
    }

    p {
      color: $white;
      width: 60%;
      margin: 20px auto 0 auto;
    }
  }

  .service-range {
    .arrow {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 240px 100vw 0 0;
      border-color: $blue-300 transparent transparent transparent;
    }
  }

  .capabilities {
    margin-top: 20px;

    .sunesis-devs-img {}

    // content grid
    .left-whitespace {
      width: 8.32%;
    }

    .center-image {
      width: 50%;
    }

    .right-content {
      width: 50%;
    }

    // arrows
    .white-arrow {
      position: absolute;
      z-index: 1;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 240px 100vw 0 0;
      border-color: $white transparent transparent transparent;
    }

    .white-arrow-reversed {
      position: relative;
      top: -240px;
      z-index: 1;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 100vw 240px 0;
      border-color: transparent transparent $white transparent;
    }

    //text
    .list-text {
      margin: 200px 0 200px 50px;
      z-index: 2;

      h3 {
        color: $white;
      }

      p {
        width: 60%;
        margin: 20px auto 0 0;
        color: $white;
      }

      h4 {
        color: $blue-100;
        margin-top: 50px;
      }
    }
  }

  .certifications {
    .cert-content {
      display: flex;
      flex-wrap: wrap;
    }

    .left-cert {
      width: 30%;
      text-align: left;

      h5 {
        color: $blue-400;
        font-weight: 700;
        margin-bottom: 20px;
      }
    }

    .right-cert {
      width: 50%;

      img {
        margin-left: 50px;
        margin-top: 40px;
        width: 40%;
      }
    }
  }

  .service-full-list {
    .full-list-container {
      display: flex;
      flex-wrap: wrap;
    }

    .left-full-list {
      width: 25%;
    }

    .right-full-list {
      width: 50%;
      margin-left: 50px;
    }
  }
}