@import '../../layouts/variables.scss';

.subheader {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background: $blue-400;
  overflow: hidden;

  &>div {
    height: 60px;
  }

  .subheader-scrollable {
    overflow-x: auto;
    white-space: nowrap;
    width: fit-content;
    display: flex;
    gap: 2rem;
    align-items: center;
    scroll-behavior: smooth;
    margin-left: auto;
    margin-right: auto;


    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    a {
      font-size: 16px;
      color: $white !important;
      text-decoration: none !important;

      border-bottom: 2px solid transparent;


    }

    .active {
      border-color: $blue-100;
    }
  }
}

.nav-left-right {
  color: $white;
  line-height: 58px;
  min-width: 40px;
  text-align: center;
  background: $blue-400;
  cursor: pointer;
  user-select: none;

  &.right {
    right: 0;
  }
}