@import '../../layouts/variables.scss';

.subheader {
  height: 60px;
  background: $blue-400;
  overflow: hidden;

  &>div {
    height: 60px;
    margin-left: 40px;
  }

  div>div {
    margin-right: 2rem;
  }

  a {
    color: $white !important;
    text-decoration: none !important;
    font-size: 1.1rem;

    div {
      border-bottom: 4px solid transparent;
    }

    &.kumuluzEE div {
      border-color: $ee;
    }

    &.kumuluzAPI div {
      border-color: $api;
    }

    &.kumuluzIntegration div {
      border-color: $integration;
    }

    &.kumuluzDevOps div {
      border-color: $devops;
    }

    &.kumuluzUX div {
      border-color: $ux;
    }

    &.kumuluzCCM div {
      border-color: $ccm;
    }

    &.kumuluzMarketplace div {
      border-color: $marketplace;
    }

    &.kumuluzPayment div {
      border-color: $payment;
    }

    &.kumuluzCrowdsensing div {
      border-color: $crowdsensing;
    }

    &.active div {
      border-color: $blue-100;
    }
  }
}

.nav-left-right {
  color: $white;
  line-height: 58px;
  min-width: 40px;
  text-align: center;
  margin-left: 0 !important;
  background: $blue-400;

  cursor: pointer;
  user-select: none;

  &.right {
    right: 0;
  }
}