@import '../../layouts/variables.scss';
@import '../../layouts/media-mixin.scss';


.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.dropdown-menu {
  padding: 0.5rem 0;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background-color: $white;
  min-width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  .dropdown-item {
    padding: 0.5rem 1rem;
  }
}

.navbar-dark {
  .nav-item a.nav-link {
    color: $blue-300;
    font-size: 16px;
    font-family: $font-asap;
    font-weight: normal;

    white-space: nowrap;

    padding: 0;

    &.active {
      border-bottom: 2px solid $blue-300;
    }
  }

  .nav-item a.nav-link.dropdown-toggle:after {
    border-width: 0.2em;
    border-bottom-width: 0;
  }
}

.nav-item {
  list-style-type: none;

  padding: 0;
  margin: 0;
}

a.nav-link.active {
  color: $red !important;
  font-weight: bold;
}

a.nav-link:hover {
  color: $red !important;
}

.placeholder {
  height: 90px;
  opacity: unset !important;
}

.dropdown-item.active.plus {
  background: $white;
  color: $black;
}

.lh-30 {
  line-height: 30px !important;
}

.left-nav {
  margin-left: 60px;
}

.navbar-container {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

@include device-specific($phone) {
  .left-nav {
    margin-left: 0;
  }

  .placeholder {
    height: 70px;
  }

  .navbar-dark {
    .nav-item {
      text-align: center;
    }

    .lang.compact {
      text-align: center;
      color: white;
    }

    .nav-item a.nav-link {
      color: $white;
    }
  }

  .navbar-nav {
    background-image: $blue-gradient-left;
  }

  .navbar-container {
    background-image: $blue-gradient-left !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;

    .navbar-brand {
      img {
        width: 140px;
      }
    }
  }
}

@include device-specific($tablet) {
  .left-nav {
    margin-left: 0;
  }

  .placeholder {
    height: 70px;
  }

  .navbar-dark {
    .nav-item {
      text-align: center;
    }

    .lang.compact {
      text-align: center;
      color: white;
    }

    .nav-item a.nav-link {
      color: $white;
    }
  }

  .navbar-container {
    background-image: $blue-gradient-left !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;

    .navbar-brand {
      img {
        width: 140px;
      }
    }
  }
}

@include device-specific('(min-width: 992px) and (max-width: 1260px)') {
  .placeholder {
    height: 80px;
  }
}


@include device-specific($pc) {
  .navbar-dark {
    .nav-item a.nav-link {
      color: $blue-300 !important;
    }
  }
}

@include device-specific($pc-xl) {
  .navbar-container {
    padding-left: 16rem !important;
    padding-right: 16rem !important;
  }
}